div[class*="col-"] {
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
}
.row {
  margin-bottom: 15px;
}          

.image-upload > input
{
    display: none;
}

.image-upload img
{
    height: 80px;
    cursor: pointer;
}

#map {
        height: 230px;
}

.blackiconcolor path {
     fill: #ff0000;
}


.button {
     background-color: #35BEC1;
}